/* Research Experience Boxes */
#research-experience-list {}
.research-experience-item {}
.research-experience-item > .header {
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.research-experience-item > .header > .left {
    /* Flex */
    display: flex;
    flex-direction: column;
}
.research-experience-item > .header > .right {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Item Classes */
.research-experience-item > .header > .left > .title > .position {
    /* Text */
    color: var(--text-black);
    font-weight: bold;
    text-decoration: none;
}
.research-experience-item > .header > .left > .title > .group {
    /* Text */
    color: var(--text-blue);
    font-weight: bold;
    text-decoration: none;
}
.research-experience-item > .header > .left > .project {
    /* Text */
    font-style: italic;
    color: var(--text-black);
}





.research-experience-item > .header > .right > .date {
    /* Text */
    color: var(--text-black);
    font-style: italic;
    text-decoration: none;
}
.research-experience-item > .list {
    list-style-type: ">   ";
    margin: var(--list-vertical-padding) 0 0 0;
    line-height: var(--list-spacing);
}
.research-experience-item > p {
    margin: var(--list-vertical-padding) var(--list-vertical-padding) 0 var(--list-horizontal-padding);
    line-height: var(--list-spacing);
}
