/* Teaching Experience Boxes */
#teaching-experience-list {}
.teaching-experience-item {}
.teaching-experience-item > .class {
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.teaching-experience-item > .class > .left {
    /* Flex */
    display: flex;
    flex-direction: column;
}
.teaching-experience-item > .class > .right {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Item Classes */
.teaching-experience-item > .title > .position {
    /* Text */
    color: var(--text-black);
    font-weight: bold;
    text-decoration: none;
}
.teaching-experience-item > .title > .university {
    /* Text */
    color: var(--text-blue);
    font-weight: bold;
    text-decoration: none;
}








.teaching-experience-item > .class > .right > .date {
    /* Text */
    color: var(--text-black);
    font-style: italic;
    text-decoration: none;
}
.teaching-experience-item > .list {
    list-style-type: ">   ";
    margin: var(--list-vertical-padding) 0 0 0;
    line-height: var(--list-spacing);
}
.teaching-experience-item > p {
    margin: var(--list-vertical-padding) var(--list-vertical-padding) 0 var(--list-horizontal-padding);
    line-height: var(--list-spacing);
}
